/*Colour Scheme:
black: #000000
brightRed #c00000
gold #ffc000
orange #ff8a09
grey #595959
lightRed #ff4343
lightYellow #ffe699
lightOrange #f4b183
*/

body {
    padding-top: 0px;
    padding-bottom: 20px;
    background-color: #000000;
    /*background-color: #293a46;*/
}


/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
    white-space: normal;
}


/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    /*background-color: #139fda;*/
    background-color: #595959;
    color: #fff;
}

.submit {
    margin-top: 24px;
}

.subtitle {
    /*color: #000000;*/
    color: rgb(217, 87, 17);
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: bolder;
}

.subtitleSpan {
    font-size: 20px;
}

.intro {
    color: #fff;
}

.custblock {
    font-size: 24px;
}

.infotitle {
    font-weight: bold;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 24px;
}


/* hide survival-index until we have a number */

.header {
    background-color: #000000 !important;
}

.calculate {
    color: #fff;
    background-color: #c00000 !important;
    border-color: #c00000 !important;
}

.info {
    color: #fff;
    padding: 20px;
    border-radius: 3px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

#zom>div {
    /*background-color: #9F86FF;*/
    background-color: #c00000;
    padding: 20px;
}

#fire>div {
    background-color: #ffc000;
    /*background-color: #E64759;*/
    color: #fff;
    padding: 20px;
}

#earth>div {
    /*background-color: #1BC98E;*/
    background-color: #ff8a09;
    color: #fff;
    padding: 20px;
}

.infoimage {
    width: 200px;
}

.survival-index {
    display: none;
    font-weight: bolder;
    color: #c00000;
    /*color: #1BC98E;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hgchart {
    display: none;
}

.paraph {
    margin-top: 10px;
}

.gauge-container {
    /*max-width: 400px;*/
    height: 300px;
    width: 300px;
    /*min-width: 200px;*/
    margin: 0 auto;
}

.highcharts-background {
    background-color: #000000
    /*background-color: #293a46;*/
}

.survival-index-number {
    font-size: 160px;
}

@media(max-width: 1200px) {
    .survival-index-number {
        font-size: 120px;
    }
}

@media(max-width: 900px) {
    .survival-index-number {
        font-size: 90px;
    }
}

.jumbotron-heading {
    padding-bottom: 30px;
}

.open-data-used {
    margin: 50px auto;
    color: white;
}

.led {
    font-size: 20px;
}


.title2{
font-family: "Comic Sans","Comic Sans MS",cursive;
font-style:italic;
font-weight:bolder;
font-size:24px;
}

.link1{
   color: #fff !important;
}

.indexdesc{
    color:#fff;

}

.highcharts-background {
    fill: #000;
}

.highcharts-button-box,
.highcharts-button-symbol {
    display: none;
}

.highcharts-label.highcharts-data-label {
    display: none;
}

#datapocalypse .highcharts-title,
#datapocalypse .highcharts-title tspan {
    color: white !important;
    fill: white !important;
}

a {
    color: #ff8a09 !important;

}